@font-face {
    font-family: 'Futura LT';
    src: url('./fonts/FuturaLT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
     font-family: 'Futura LT';
     src: url('./fonts/FuturaLT-BoldOblique.ttf') format('truetype');
     font-weight: 300;
     font-style: normal;
   }

   @font-face {
    font-family: "Magneta";
    src: local('Magneta'), url('/fonts/magneta.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
  } 

  @font-face {
   font-family: "JohnstonITCPro-Light";
   src: local('JohnstonITCPro-Light'), url('/fonts/JohnstonITCPro-Light.woff') format('woff');
   font-display: swap;
   font-style: normal;
 } 
  

  $font-primary: "Futura LT", sans-serif;
  $font-magneta: 'Magneta', sans-serif;
  $font-johnston: 'JohnstonITCPro-Light', sans-serif;