
:root {
  --main-color: red;
  --secondary-color: #ff304f;
  --heart-size: 20px;
}

h1 {
  margin-top: 50px;
}


#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 9999999;
}

.heart {
  position: absolute;
  width: var(--heart-size);
  height: var(--heart-size);
  background: var(--main-color);
  transform: rotate(45deg);
  animation: fall 2.5s linear infinite;
  z-index: 1001;
  box-shadow: 0 -10px 15px var(--shadow-color);


  &:before,
  &:after {
    content: '';
    position: absolute;
    width: var(--heart-size);
    height: var(--heart-size);
    background: var(--main-color);;
    border-radius: 50%;
  }

  &:before {
    top: calc(-1 * var(--heart-size) / 2);
    left: 0;
  }

  &:after {
    top: 0;
    left: calc(-1 * var(--heart-size) / 2);
  }
}

@keyframes fall {
  0% {
    top: -50px;
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
    transform: rotate(190deg);
  }
}



/* :root {
  --main-color: #f8b64a;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --moon-size: 40px;
}

h1 {
  margin-top: 50px;
}

#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 9999999;
}

.heart {
  position: absolute;
  width: var(--moon-size);
  height: var(--moon-size);
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 10px 5px 0px 0px var(--main-color);
  animation: fall 2.5s linear infinite;
  z-index: 1001;
}

.heart::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 15%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

@keyframes fall {
  0% {
    top: -50px;
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
    transform: rotate(90deg);
  }
} */