@use "../base/variables" as vars;
@use "../utilities/_mixins" as mixin;
@use '../base/fonts' as fonts;

.blog-details {
  position: relative;
  .hero-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 440px;
    object-fit: cover;
    object-position: center;
  }

  .blog-wrapper {
    position: relative;
    .blog-wrap {
      /*margin: 300px 0 64px;*/
      margin: 65px 0;
    }
    .blog-wrap-img {
      margin-top: 64px 0;
    }

    .blog-content {
      padding: 64px;
      background-color: vars.$bg-color;
      display: flex;
      flex-direction: column;
      gap: 24px;

      h3{
        font-size: larger;
      }

      .date-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-weight: 200;
        }

        .share-wrap {
          display: flex;
          align-items: center;
          gap: 12px;
        }

      }

      p{
        margin: 10px 0;
      }

      h1 {
        text-transform: uppercase;
        font-family: fonts.$font-magneta;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      .number-list,
      .bullet-list {
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        li {
          font-weight: 200;
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 4px;
        }
        span {
          font-weight: 200;
          font-size: 16px;
          line-height: 26px;
        }
      }
      .number-list{
        list-style: decimal;
      }

      ul,ol{
        margin-left: 20px;
      }

      strong, a {
          -webkit-text-stroke: 0.7px;
      }
    }
  }
}
