@use "../base/variables" as vars;
@use "../base/fonts" as fonts;
@use "../utilities/_mixins" as mixin;

.contact-us {
  position: relative;
  background-color: vars.$white-color;
  .contact-hero {
    position: relative;
    height: 450px;
    width: 100%;

    @include mixin.respond(md){
      height: 600px;
    }
    .hero-img {
      position: absolute;
      width: 100%;
      height: 450px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      object-position: center;

      @include mixin.respond(md){
        height: 600px;
      }
    }

    .overlay {
      background: linear-gradient(to bottom, #00000000, #00000050);
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .hero-wrapper {
      position: absolute;
      bottom: 48px;
      width: 100%;
      .left {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: calc(100% - 220px);
        @include mixin.respond(lg) {
          width: 100%;
        }
        span {
          font-family: fonts.$font-magneta;
          font-size: 50px;
          font-weight: 700;
          color: vars.$white-color;
          &.text-light {
            font-weight: 300;
          }
          &.text-italic {
            font-style: italic;
          }
        }
      }

      .right {
        position: absolute;
        right: 0;
        bottom: -48px;
        background-color: vars.$black-color;
        color: vars.$white-color;
        padding: 32px;
        display: flex;
        gap: 12px;

        @include mixin.respond(md){
          position: relative;
          width: max-content;
          bottom: -24px;
          padding: 24px;
        }
        .txt {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }
      p {
        color: vars.$white-color;
        width: 70%;
        margin-top: 12px;
        @include mixin.respond(lg) {
          width: 100%;
        }
      }
    }
  }

  .contact-form {
    padding: 25px 0;
    .form-wrapper {
      .heading{
        h1{
          font-family: fonts.$font-magneta;
          font-weight: 700;
          font-size: 48px;
          line-height: 56px;
          text-transform: uppercase;
          text-align: center;
        }
        p{
          font-size: 16px;
          line-height: 24px;
          text-align: center;
        }
      }
      .form-wrap {
        position: relative;
        background-color: vars.$bg-color;
        margin-top: 10px;
        padding: 96px;
        display: flex;
        align-items: flex-start;
        gap: 48px;

        @include mixin.respond(lg){
          flex-direction: column;
          padding: 48px;
        }
        @include mixin.respond(sm){
          padding: 24px;
        }
        .left{
          flex: none;
          width: calc(33.33% - 24px);

          @include mixin.respond(lg){
            width: 100%;
          }
          .single-info{
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 48px;
            svg{
              font-size: 24px;
              color: #777E90;
            }
            p{
              &:last-child{
                color: #23262F;
              }
            }
          }
          .social-wrap{
            display: flex;
            align-items: center;
            gap: 24px;
            font-size: 20px;
            margin-bottom: 48px;
            svg{
              color: #777E90;
            }
          }

          .direction{
            display: flex;
            gap: 8px;
            align-items: center;
            font-weight: 500;
          }
        }
        .right {
          width: calc(66.67% - 24px);
          @include mixin.respond(lg){
            width: 100%;
          }
          .form {
            .form-group {
              margin-bottom: 24px;

              label {
                display: block;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 8px;
                color: #000;
              }

              input,
              textarea,select {
                width: 100%;
                padding: 12px;
                border: none;
                background-color: #fff;
                font-size: 16px;
                color: #333;

                &::placeholder {
                  color: #999;
                }

                &:focus {
                  outline: none;
                }
              }

              input[type="checkbox"],input[type="radio"]{
                  width: auto;
              }

              textarea {
                resize: vertical;
                min-height: 120px;
              }
            }
          }
        }
      }
    }
  }
}
