@use "../base/variables" as vars;
@use "../utilities/_mixins" as mixin;
@use "../base/fonts" as fonts;

.drips-details {
  .details-hero {
    .details-wrap {
      display: flex;
      padding: 64px 0;
      gap: 48px;
      @include mixin.respond(lg) {
        flex-direction: column;
      }
      .left {
        position: relative;
        width: 50%;
        background-color: #FFFAF4;
        max-height: 600px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50% 50%  0 0;
        @include mixin.respond(lg) {
          width: 100%;
        }
        img {
            position: relative;
          width: 80%;
          height: 80%;
          max-height: 600px;
          object-fit: contain;
          object-position: top center;
          z-index: 9;
        }
      }

      .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: vars.$black-color;
        @include mixin.respond(lg) {
          width: 100%;
        }

        .variant-link{
          @media (max-width: 500px) {
            font-size: 13px !important;
          }
        }
        .btn-wrap{
          @media (max-width: 500px) {
            width: 100%;
          }
        }
        
        .para {
          p {
            font-weight: 200;
            font-size: 18px;
            margin-bottom: 10px;

            b{
              -webkit-text-stroke: 1px;
            }
          }
        }

        

        .discount {
          font-size: 14px;
          color: vars.$black-color;
          font-weight: 800;
          span{
            font-weight: 500;
            margin-right: 1ch;
            font-style: italic;
          }

          a{
            font-weight: 500;
            font-style: italic;
            color: #001AFF;
            text-decoration: underline;
            white-space: nowrap;
          }

        }
      }
    }
  }

  .benifit{
    position: relative;
    background-color: #ffffff;
    padding: 64px 0;
    .benifit-wrap{
        display: flex;
        align-items: flex-start;
        gap: 48px;
        @include mixin.respond(lg){
            flex-direction: column;
        }
        .left{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mixin.respond(lg){
                width: 100%;
            }
            img{
                width: 80%;
            }
        }

        .right{
            //width: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            @include mixin.respond(lg){
                width: 100%;
            }
            
            h1{
                text-transform: uppercase;
            }
            
            .benifit-item{
                li{
                    font-size: 18px;
                    font-weight: 200;
                    margin-left: 20px;
                    line-height: 28px;
                }
            }

            .keybenefit{
              .single-list{
                background: #f2eee9;
                min-height: 68px;
                padding: 0 15px;
                border-radius: 5px;
              }
              .single-list::before {
                  content: "✔"; /* tick icon */
                  position: relative;
                  left: 0;
                  top: 0;
                  color: #000; /* green tick */
                  font-weight: bold;
                  font-size: 18px; /* size of tick */
              }
              @media (max-width: 500px) {
                  gap: 10px !important;
                  .single-list{
                    width: 100%;
                    padding: 5px 15px;
                  }
              }
            }
            
            .benifit-list{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 36px;
                @media (min-width: 1024px) {
                      display: grid;
                      grid-template-columns: repeat(3, 1fr);
                      gap: 10px;
                      align-items: start;
                }
                .single-list{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    img{
                        height: 36px;
                        width: 36px;
                        object-fit: contain;
                        object-position: center;
                    }

                    p{
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
  }

  .drips-extras{
    position: relative;
    background-color: #ffffff;
    .drips-extras-wrap{
        padding: 60px 0;
        @include mixin.respond(lg){
          padding: 48px 0;
        }
    }
    .extra-data-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        h2{
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: 400;
            color: #292929;
        }
    }
  }
}


.drips-pairings {
  margin: 60px auto;
  padding: 0 40px;
  width: 100%;
}

.drips-pairings .section-title {
  margin-bottom: 30px;
}

.drips-pairings-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
}

.drips-pairings .btntitle h1{
  max-width: 100% !important;
}

/* Responsive: 2 columns on tablets */
@media (max-width: 991px) {
  .drips-pairings-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

.nad-info-box{
  ul{
    li{
      font-weight: 400;
      color: #707070;
      font-size: 18px;
    }
  }

  strong{
    -webkit-text-stroke: 0.5px;
  }
}

.drips-faq{
  margin: 30px 0;

  .accordion{
    border: none;
  }

  .accordion__button{
    background-color: transparent;
  }

  .faq{
    
    .faq-wrap {
      padding: 24px 0;
      h1{
        margin-bottom: 24px;
      }
      .accordion {
        border: unset;
        border-radius: 0;
        &__button {
          background: transparent;
          color: #292929;
          text-transform: uppercase;
          font-size: 14px;
          font-family: fonts.$font-johnston;
          position: relative;
          padding: 16px 0;
          font-weight: 700;
          &::before {
            position: absolute;
            right: 0;
            top: 19px;
            height: 7px;
            width: 7px;
          }
        }

        &__panel {
          padding: 16px 0;
          color: #595959;

          .tips-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            .tips-wrap {
              display: flex;
              align-items: center;
              gap: 12px;
              border: 1px solid vars.$border-color;
              padding: 12px;
              width: calc(50% - 12px);
              @include mixin.respond(lg) {
                width: 100%;
              }
              img {
                width: 48px;
              }
            }
          }
        }
      }
    }
  }
}

/* Responsive: 1 column on mobile */
@media (max-width: 600px) {
  .drips-pairings-wrap {
    grid-template-columns: 1fr;
    display: inline-block;
  }
  .single-drips-details{
    margin-bottom: 50px;
  }
}


.section-title.text-center {
    text-align: center;
}