@use "../base/variables" as vars;
@use "../base/fonts" as fonts;
@use "../utilities/_mixins" as mixin;

/* Home Hero Styling */
.home-hero {
  position: relative;
  height: calc(115lvh - 84px);
  min-height: 580px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixin.respond(sm) {
    height: 950px;
    min-height: 950px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    height: 950px;
    max-height: 950px;
  }

  .hero-video {
    position: absolute;
    width: 100%;
    height: calc(115lvh - 84px);
    min-height: 580px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;

    @include mixin.respond(sm) {
      height: 950px;
      min-height: 950px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      height: 950px;
      max-height: 950px;
    }
  }

  .btn-light{
    font-weight: 600;
  }

  .hero-overlay {
    position: absolute;
    width: 100%;
    height: calc(115lvh - 84px);
    min-height: 580px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0a0a;
    opacity: 0.3;

    @include mixin.respond(sm) {
      height: 950px;
      min-height: 950px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      height: 950px;
      max-height: 950px;
    }
  }

  .hero-txt-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include mixin.respond(sm) {
      gap: 5px;
    }

    .btn-wrap{
      @include mixin.respond(sm) {
        gap: 5px;
        flex-direction: row;
      }
    }

    img{
      width: 600px;

      @include mixin.respond(sm) {
        width: 400px;
      }
    }

    .locations{
      color: #f2eee9;
      font-size: 20px;
      text-transform: uppercase;
      margin-top: 10px;
      -webkit-text-stroke: 1px;
      letter-spacing: 1.5px;

      @include mixin.respond(sm) {
        font-size: 12px;
      }
    }

    .btn{
      @include mixin.respond(sm) {
        height: 35px;
        font-size: 14px;
      }
    }

    h3 {
      font-family: fonts.$font-magneta;
      font-weight: 200;
      font-style: italic;
      font-size: 40px;
      color: vars.$white-color;

      @include mixin.respond(md) {
        font-size: 24px;
      }
    }

    h1 {
      position: relative;
      font-family: fonts.$font-primary;
      font-weight: 300;
      font-size: 64px;
      color: vars.$white-color;
      text-transform: uppercase;

      span {
        &:first-child {
          padding-right: 90px;
        }
        &:last-child {
          padding-left: 90px;
        }
      }

      @include mixin.respond(xl) {
        font-size: 48px;
      }

      @include mixin.respond(md) {
        font-size: 40px;
        span {
          &:first-child {
            padding-right: 20px;
          }
          &:last-child {
            padding-left: 20px;
          }
        }
      }

      @include mixin.respond(sm) {
        font-size: 32px;
      }

      @include mixin.respond(xs) {
        font-size: 15px;
        span {
          &:first-child {
            padding-right: 8px;
          }
          &:last-child {
            padding-left: 8px;
          }
        }
      }

      span {
        font-style: italic;
        font-weight: bold;
      }
    }

    p {
      font-family: vars.$font-nunito;
      font-size: 24px;
      color: vars.$white-color;
      font-weight: 400;
      line-height: 24px;

      @include mixin.respond(md) {
        font-size: 20px;
      }

      @include mixin.respond(sm) {
        font-size: 18px;
      }
    }

    .hero-bar-wrap {
      height: 85px;
      margin-top: 24px;

      @include mixin.respond(sm) {
        display: none;
      }

      .hero-bar {
        width: 2px;
        height: 85px;
        background-color: vars.$white-color;
        animation: topBottom 2s linear infinite;
      }
    }
  }
}

/* Home Welcome Styling */
.home-welcome {
  position: relative;
  padding: 64px 0;
  .welcome-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    h1{
      font-weight: 500;
    }
  }
}

/* home steps */
.home-steps {
  position: relative;
  background-color: #f4f5f6;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
  .heading-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    // justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 36px;
    .btn-wrap{
      left: 0 !important;
      transform: unset !important;
      margin: 0;
    }
  }
  .card{
    margin: 0 12px;
  }
  .btn-wrap{
    margin-top: 36px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
  .custom-arrow-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 48px;
  }
  
  .custom-arrow {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  
}

/* home winter bod */
.winter-bod {
  position: relative;
  padding: 50px 96px;

  @include mixin.respond(lg) {
    padding: 20px 5px;
  }
  .winter-bod-wrapper {
    display: flex;
    align-items: center;
    gap: 48px;

    @include mixin.respond(lg) {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }

    .left {
      position: relative;
      width: calc(50% - 24px);

      @include mixin.respond(lg) {
        width: 100%;
        display: flex;
      }

      @include mixin.respond(sm) {
        justify-content: center;
      }

      .spin-wrap {
        height: 150px;
        width: 150px;
        position: relative;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mixin.respond(lg) {
          height: 100px;
          width: 100px;
        }
        .spinner-text {
          position: absolute;
          height: 150px;
          width: 150px;
          animation: spin 15s linear infinite;
          @include mixin.respond(lg) {
            height: 100px;
            width: 100px;
          }
        }

        .small-logo {
          height: 50px;
          @include mixin.respond(lg) {
            height: 32px;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 24px;
      @include mixin.respond(sm) {
        width: 100%;
        align-items: center;
      }

      .btn-wrap {
        @include mixin.respond(sm) {
          width: 100%;
        }
      }

      h1 {
        position: relative;
        display: flex;
        align-items: center;
        width: max-content;
        font-weight: 500;
        flex-wrap: wrap;
        font-size: 48px;
        font-family: fonts.$font-magneta;
        @media screen and (max-width: 991px) {
          font-size: 32px;
          width: 100%;
        }
        @media screen and (max-width: 767px) {
          font-size: 20px;
        }
        span {
          color: rgba(48, 42, 46, 0.5);
          font-weight: 400;
        }
        .select-head {
          border: none;
          border-radius: 0;
          width: max-content;
          font-family: fonts.$font-magneta;
          color: vars.$black-color;
          border-bottom: 2px solid vars.$black-color;
          line-height: 36px;
          padding-left: 0;
          margin-left: 12px;
          margin-bottom: -4px;
          display: flex;
          flex-wrap: wrap;
          cursor: pointer;
          span {
            font-size: 16px;
            margin-left: 4px;
            color: vars.$black-color;
          }
        }
        ul {
          text-transform: uppercase;
          font-size: 14px;
          width: max-content;
          margin-bottom: 8px;
          border: 1px solid vars.$black-color;
          position: absolute;
          top: 100%;
          right: 0;
          background: #fff;
          z-index: 9;
          display: none;
          &.show,
          &.weveShow {
            display: block;
          }
          li {
            padding: 12px 16px !important;
            cursor: pointer;
            list-style: none;
          }
        }
      }
    }
  }
}

/* Article Style */
.article {
  position: relative;
  padding: 0 0 64px;
  .article-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .btn-wrap {
    position: relative;
    left: 50%;
    margin-top: 64px;
    transform: translateX(-50%);
  }
}

/* doctors style */
.doctor {
  position: relative;
  padding: 64px 0;
  .doctor-wrapper {
    display: flex;
    align-items: center;
    gap: 48px;

    @include mixin.respond(lg) {
      flex-direction: column;
      align-items: flex-start;
    }

    .left {
      flex: none;
      img {
        @include mixin.respond(lg) {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      p {
        margin: 24px 0;
      }
    }
  }
}

/* testimonial */
.testimonial {
  background-color: #f4f5f6;
}

.logosection{
  display: flex;
  align-items: center;

  @include mixin.respond(sm) {
    display: block;
  }

  .left,.right{
    width: 50%;

    @include mixin.respond(sm) {
      width: 100%;
    }
  }
}

/* as seen */
.as-seen {
  padding: 48px 0;
  background-color: vars.$white-color;

  @include mixin.respond(sm) {
    padding: 25px 0;
  }

  .as-seen-wrapper {
    display: block;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // gap: 48px;
    text-align: center;

    @include mixin.respond(lg) {
      flex-direction: column;
      align-items: center;
    }

    h1 {
      text-transform: uppercase;
      font-size: 35px;
      line-height: 45px;
    }

    .seen-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 48px;

      img {
        flex: 1 1 auto;
        max-width: 110px;
        max-height: 90px;
        object-fit: contain;
        width: 100%;
        height: auto;
      }
    }
  }
}

.right{
  .seen-wrap{
    gap: 16px !important;
  }
}


/* Animations */
@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes topBottom {
  from {
    height: 0px;
  }
  to {
    height: 85px;
  }
}


.fade-img-wrap {
  position: relative;
  width: 100%;
  height: 60vh;            /* adjust as needed */
  overflow: hidden;
  border-radius: 16px;      /* optional */

  @media(max-width: 500px){
    height: 25vh;
  }
}

.fade-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  will-change: opacity;
}

.fade-img.is-visible {
  opacity: 1;
}
