@use "../utilities/_mixins" as mixin;
@use "../base/variables" as vars;
@use "../base//fonts" as fonts;

.footer-top {
  position: relative;
  background: linear-gradient(to right, #FCF9F5 50%, #f1e7dc 50%);
  @include mixin.respond(lg){
    background: #FCF9F5;
  }

  .top-wrapper{
    display: flex;
    align-items: center;
    @include mixin.respond(lg){
      flex-direction: column;
    }
    .left{
      width: 50%;
      padding: 64px 24px 64px 0;
        
      @include mixin.respond(xl){
        padding: 64px 24px 64px 0;
      }
        
      @include mixin.respond(lg){
        width: 100%;
        padding: 48px 0;
      }
      p{
        margin-top: 20px;
      }
    }

    .right{
      width: 50%;
      padding: 64px 0 64px 64px;
        
      @include mixin.respond(xl){
        padding: 64px 0 64px 24px;
      }
        
      @include mixin.respond(lg){
        width: 100vw;
        padding: 48px 0;
        background-color: #f1e7dc;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container{
        padding: 0;
        .btn-big{
          font-size: 60px;
          text-align: left;
          position: relative;
          width: max-content;
          height: auto;
          background-color: #f1e7dc;
          border: none;
          color: vars.$black-color;
          @include mixin.respond(xxl){
            font-size: 54px;
          }
          @include mixin.respond(xl){
            font-size: 48px;
          }
          @include mixin.respond(lg){
            padding: 0 1rem;
          }
          @include mixin.respond(sm){
            font-size: 36px;
          }
          img{
            position: absolute;
            top: 20px;
            right: 20px;
            @include mixin.respond(xxl){
              height: 36px;
            }
            @include mixin.respond(xl){
              height: 32px;
            }
            @include mixin.respond(sm){
              height: 24px;
              top: 16px;
            }
          }
        }
      }
    }
  }
  }

  .footer-bottom {
    background-color: vars.$black-color;
    padding: 40px 0;
    font-family: fonts.$font-johnston;
    
    .footer-wrapper{
      display: flex;
      justify-content: space-between;
      gap: 24px;
      @include mixin.respond(lg){
        flex-wrap: wrap;
      }
      &__col {
        width: max-content;

        @include mixin.respond(lg){
          width: calc(50% - 12px);
        }
        @include mixin.respond(sm){
          width: 100%;
        }
        img{
          margin-bottom: 12px;
          height: 60px;
          width: 60px;
        }
        p,
        a{
          font-size: 14px;
          color: vars.$white-color;
        }
    
        ul {
          list-style: none;
          padding: 0;
    
          li {
            margin-bottom: 0.5rem;
    
            a {
              text-decoration: none;
              color: vars.$white-color;
            }
          }
        }

        &.social-wrap{
          @include mixin.respond(sm){
            display: flex;
            flex-direction: column;
          }
        }
    
        &.footer-wrapper__social {
          display: flex;
          .wrap{
            display: flex;
            flex-direction: column;
            gap: 12px;
            p{
              text-transform: uppercase;
            }
            a{
              display: flex;
              align-items: center;
              gap: 6px;
              span{
                font-size: 16px;
              }
            }
          }
        }
      }
        
      &__social {
        display: flex;
        gap: 1rem;
        svg {
          font-size: 1.5rem;
          cursor: pointer;
  
          &:hover {
            color: #444;
          }
        }
      }
    }
  }
  

.footerlocations {
    margin-bottom: 20px;
    color: #F2EEE9;

    @include mixin.respond(sm){
      flex-direction: row !important;
      justify-content: flex-start;
      width: auto;
    }

      .btn{
        color:#F2EEE9 !important;
        background-color:transparent !important;
        border:none;
        height:auto;
        padding:5px;
      }

      .btn:hover{
        color:#fff !important;
      }
      .btn-external {
        display: inline-flex;
        align-items: center;
        gap: 8px;
      }

      .external-icon {
        width: 25px;
        height: 25px;
        padding: 3px 5px 5px 5px;
      }

  }

.logo-marquee {
  width: 100%;

  .marquee-viewport {
    width: 100%;
    overflow: hidden;
  }

  .marquee-track {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 40px;
    animation-name: marquee-scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform;
  }

  .marquee-item {
    flex: 0 0 auto;
    width: calc(100vw / 8); // ✅ 3 visible on desktop
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    min-height: 90px;

    a{
        line-height: 0;
    }

    img {
      max-height: 70px;
      width: 150px;
      object-fit: contain;
    }
  }

  // ✅ Pause on hover (nice UX)
  /*&:hover .marquee-track {
      animation-play-state: paused;
    }*/

  // ✅ Mobile: 1 visible
  @media (max-width: 767px) {
    .marquee-item {
      width: 70vw; // ✅ 1 visible on mobile
    }

    .marquee-item img {
      max-height: 85px;
      width: 180px;
    }
  }

  // ✅ Reduce motion accessibility
  @media (prefers-reduced-motion: reduce) {
    .marquee-track {
      animation: none;
      transform: translateX(0);
    }
  }
}

.sanctuarytxt{
  text-align: center;
  background: #fff;
  padding-top: 50px;
}

.sanctuaryimg{
  
  .as-seen .as-seen-wrapper h1{
    font-size: 25px;
    text-transform: capitalize;
  }  

  .logo-marquee {
    width: 100%;

    .marquee-viewport {
      width: 100%;
      overflow: hidden;
    }

    .marquee-track {
      display: flex;
      align-items: center;
      width: max-content;
      gap: 20px;
      animation-name: marquee-scroll2;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      will-change: transform;
    }

    .marquee-item {
      flex: 0 0 auto;
      width: auto; // ✅ 3 visible on desktop
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #e0e0e0;
      min-height: 90px;
      border-radius: 10px;

      a{
          line-height: 0;
          cursor: default;
      }

      img {
        max-height: 100%;
        width: auto;
        object-fit: contain;
        border-radius: 20px;
        padding: 10px;
      }
    }

    // ✅ Pause on hover (nice UX)
    /*&:hover .marquee-track {
      animation-play-state: paused;
    }*/

    // ✅ Mobile: 1 visible
    @media (max-width: 767px) {
      

      .marquee-item img {
        max-height: 400px;
        width: 400px;
      }
    }

    // ✅ Reduce motion accessibility
    @media (prefers-reduced-motion: reduce) {
      .marquee-track {
        animation: none;
        transform: translateX(0);
      }
    }
  }
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%); // ✅ seamless because we duplicated content
  }
}

@keyframes marquee-scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%); // ✅ seamless because we duplicated content
  }
}


.footerlogos {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-align: center;

  > div {
    padding: 15px;
  }

  img,
  svg {
    width: 100%;
  }

  @media (min-width: 1000px){
    max-width: 60%;
    align-items: center;
  }

  @media (max-width: 500px) {

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
