@use "../base/variables" as vars;
@use "../utilities/_mixins" as mixin;
@use "../base/fonts" as fonts;

.header {
  background-color: transparent;
  font-family: fonts.$font-johnston;
  z-index: 9999;
  position: absolute;
  width:100%;
  @include mixin.respond(xl) {
    padding: 12px 0;
  }

  

  &.sticky {
    position: fixed;
    top: 0;
    background: #ffffff; /* Adjust the background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
    z-index: 1000;
    width: 100%;

    .menu-single-item{
      color:#000 !important;
    }
    .mbl-logo {
      height: 45px !important;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 9999;

    @include mixin.respond(xl) {
      justify-content: center;
      gap: inherit;
    }

    a{
      @include mixin.respond(xl) {
        // margin-left: 5px;
      }
    }

    .desk-logo {
      object-fit: contain;
      width: 220px;
      z-index: 999;
      @include mixin.respond(xl) {
        display: none;
      }
    }

    .mbl-logo {
      object-fit: contain;
      height: 40px;
      display: none;
      @include mixin.respond(xl) {
        display: block;
        // max-width: 170px; added for android fix
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 12px;

      .menu-wrap {
        display: flex;
        gap: 20px;
        align-items: center;
        list-style: none;
        text-transform: uppercase;

        .menu-item {
          cursor: pointer;
          font-family: fonts.$font-johnston;
          font-weight: 500;

          .menu-single-item {
            display: flex;
            align-items: center;
            gap: 4px;
            color:#fff;
            span {
              line-height: 80px;
            }
          }

          &:hover {
            .submenu-wrapper {
              transform: scaleY(1);
              .submenu-wrap {
                transform: scaleY(1);
              }
            }
          }

          .submenu-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            transform: scaleY(0);
            transform-origin: top;
            background-color: transparent;
            width: 100%;
            padding: 0 24px 24px 24px;
            transition: transform 0.3s linear;
            background-color: vars.$primary-color;
            border-top: 1px solid #dadada;
            display: flex;
            gap: 24px;
          }

          .submenu-title {
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            padding-bottom: 7px;
            position: relative;
            text-transform: uppercase;
            border-bottom: 1px solid #dadada;
            margin-bottom: 7px;
            margin-top: 24px;
            -webkit-text-stroke: 0.5px;
          }

          .submenu-wrap {
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.5s linear 0.2s;
            width: calc(33.33% - 16px);
            color: #524333;
            .submenu {
              list-style: none;
              padding: 0;
              width: 100%;


              li {
                a {
                  text-decoration: none;
                  display: block;
                  font-size: 13px;
                  text-transform: capitalize;
                  line-height: 18px;
                  color: #524333;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }

      .phone-wrap {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: 24px;

        .tel {
          border: 1px solid #c3c3c3;
          padding: 7px 17px;
          line-height: 20px;
          font-family: fonts.$font-magneta;
        }
      }

      @include mixin.respond(xl) {
        display: none;
      }
    }

    .btn-wrap{
      display: none;
      @include mixin.respond(xl){
        display: block;
      }
    }

    .hamburger-btn {
      border: none;
      cursor: pointer;
      display: none;
      background-color: transparent;
      &:focus,
      &:focus-within,
      &:focus-visible {
        background: transparent;
        outline: none;
        box-shadow: none;
        border: none;
      }
      @include mixin.respond(xl) {
        display: block;
      }
    }
  }
}

.mbl-header {
  z-index: 99999;
  position: relative;
}

.header-popup {
  .modal__header {
    max-width: 960px;
    padding: 0 16px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-left: -8px;
    h3 {
      color: #777e90;
      text-transform: uppercase;
      font-size: 14px;
    }
    .modal__close-button {
      background-color: transparent !important;
      svg {
        height: 48px;
        width: 48px;
        color: #524333;
      }
    }
  }
  .modal__popup {
    padding: 20px;
    border-radius: 0px;
    width: 100%;
    max-height: auto;
    min-height: 100vh;
    border: 1px solid #ddd;
    background: #f2eee9;
    z-index: 99999;
    opacity: 0;
    display: flex;
    top: 0;
    left: 0;
    position: relative;
    flex-direction: column;
    transform: translateY(-15px);
    overflow: hidden;

    .container {
      max-width: 960px;
    }

    .iv-popup-wrap {
      padding: 24px 0 64px;
      .top {
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: space-between;
        h1 {
          font-size: 50px;
          line-height: 50px;
        }
        .button-wrap {
          display: flex;
          flex-direction: column;
          gap: 24px;
          align-items: flex-end;
          flex: none;
          a {
            text-transform: uppercase;
            align-items: center;
            display: flex;
            gap: 8px;
            font-size: 14px;
            text-decoration: underline;
          }
        }
      }
    }

    .drips-items-wrap {
      margin-top: 24px;
      display: flex;
      background-color: vars.$white-color;
      align-items: center;
      .left {
        background-color: #f1e7dc;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          position: relative;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .right {
        max-height: 100%;
        height: 100%;
        width: 50%;
        padding: 24px;
        .drips-qnt {
          font-size: 12px;
          font-weight: 700;
          color: #5b5b5b;
          text-transform: uppercase;
          padding: 6px 12px;
          background-color: #fff6e4;
          width: max-content;
        }

        .drips-name-wrap {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          margin-bottom: 36px;
          h2 {
            font-size: 24px;
            font-weight: 400;
          }
        }

        p {
          color: #707070;
          margin-bottom: 36px;
          font-size: 18px;
        }

        .drips-items {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;

          a {
            background-color: #eaeaea;
            border-radius: 16px;
            padding: 6px 16px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #777e90;
          }
        }
      }
    }
  }
}

.privacypolicy-page ul{
  padding-left: 30px;
}

.header.hide-submenu .submenu-wrapper {
  transform: scaleY(0) !important;
}

.top-nav{
  background: #000;
  text-align: center;
  padding: 10px;

  @include mixin.respond(sm) {
    padding: 10px 5px;
  }

  a{
    color: #f2eee9;

    @include mixin.respond(sm) {
      font-size: 12px;
    }
  }
}

.randomstrings p{
  font-size: 50px;
  line-height: 2;
  margin: 20px auto;
  @include mixin.respond(sm) {
    font-size: 25px;
  }
}

.packagedetails hr{
  margin: 10px auto;
}

.sitemap-page{

  ul {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  li {
    line-height: 1.5;
  }

}

.form {
  .form-status{
    color: #f00;
    -webkit-text-stroke: 1px;
  }
}